:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;

    --header-height: 120px;
    --navbar-height: 40px;
    --header-with-search-height: calc(var(--header-height)- var(--navbar-height))
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /*line-height: 1rem;*/
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.grid {
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/*modal*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn ease-in 0.1s;
}
.modal__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}
.modal__body {
    width: 400px;
    height: 400px;
    background-color: var(--white-color);
    margin: auto;
    margin-top: 200px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}



